<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name=".customclasses.AppControl"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:fullBackupOnly="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".activity.AbbreviationsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.EnglishWords"
            android:exported="false"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.DictionaryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.LiteratureActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.PhrasesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.MyGrammarActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.SpeechToTextActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.GrammarGeniusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PartsOfSpeechActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AntonymsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WordImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AskMeAnything"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.MachineLearningActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ElementDetail"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PeriodicElementsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RiddleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SynonymsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SurfingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FunActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GuideActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainMenu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.SubActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FullScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.exam.LookChooseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.exam.ListenGuessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.video.ListVideoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.video.VideoLearningActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.video.VideoPlayActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppThemeYoutube" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".broadcastmanagers.DailyBroadcast" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/AD_MOB_APPLICATION_ID" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>